.stickey-footer{
	position: absolute;
    margin-top: 0;
    border-top: 1px solid #292929;
    bottom: 0;
    width: 100%;
    height: 52px;
}
.mytask-accordion-inner,.table-section{
	max-height: 300px;
	overflow: auto;
}
.datatable-mytask-accordion-inner{
	margin-bottom: 30px;
}

.widget-header-right{
	float:right;
	margin-right: 10px;
	color: rgb(0, 186, 139);
	font-weight: bold;
}

.details-table td:nth-child(odd){
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}
.details-table td:nth-child(even){
	text-align: left;
	white-space: pre-line;
	vertical-align: top;
}
.details-table td:nth-child(even).esm-input{
	text-align: left;
	vertical-align: top;
	white-space: normal;
}
.details-table th, .list-table th{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
}
.details-table td{
	width: 25%;
}


.widget-details-content{
	padding: 0px;
}

.paginate_button{
	border-radius:3px;
	box-shadow:inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
	background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
	background-color:#00ba8b !important;
	color:white;
	font-size:11px;
	line-height:22px;
	
	transition: background-color 0.2s;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin:2px;
    padding: 0px 6px;
    text-align: center;
    vertical-align: middle;
}
.paginate_button:HOVER{
	color: white;
	text-decoration: none;
}
.current,.current:HOVER,.disabled,.disabled:HOVER{
	background-color:#E9E9E9 !important;
	color: black;
	cursor: default;
}

.form-horizontal .search-control-label{
	width: 280px;
}
.form-horizontal .search-controls{
	margin-left: 300px;
}
.form-horizontal .search-control-group{
	margin-left: 15px;
	margin-right: 15px;
}
.form-horizontal .search-form-actions{
	padding-left: 315px;
	margin-bottom: 0px;
}
.form-label{
	font-weight: bold;
}
.required-field{
	color: red;
}
.section-header{
	background-color: #EEEEEE;
/* 	background-color: #D6D6D6; */
/* 	background-color: #eeeeee; */
}
/* .dataTables_filter{ */
/* 	display: none; */
/* } */


/*
* CUSTOM CSS FOR PAGE LAYOUT SECTIONS *********************************************************************
*/
div.section{
/* 	background-color :whitesmoke; */
	margin-bottom: 10px;
/* 	border: solid 1px gray; */
/* 	border-radius:5px; */
}
div.section-title{
	color : #333333;
	padding: 3px 3px 3px 6px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-bottom: 1px solid #D6D6D6;
}
div.section-content{
	padding: 5px;
}
div.section-content-row{
	display: flex;
	border-bottom: 1px solid #EEEEEE;
}
/* 		div.section >.content >.row:first-child{ */
/* 			border-top: 1px solid silver; */
/* 		} */
div.section-content-row:last-child{
	border-bottom: none;
}

/* 		div.section >.content >.row:nth-child(odd){ */
/* 			background-color: whitesmoke; */
/* 		} */
/* 		div.section >.content >.row:nth-child(even){ */
/* 			background-color: silver; */
/* 		} */
div.section-content-row-column{
	display: flex;
	padding: 5px;
	width: 100%;
	vertical-align: middle;
}
div.section-content-row-column-label{
	width: 40%;
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}
div.section-content-row-column label{
	width: 40%;
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}
div.section-content-row-column label:after{
	content: " ";
}
div.section-content-row-column-field{
	width: 60%;
	text-align: left;
}
.column1{
	width: 100%;
}
.column2{
	width: 50%;
}
/**********************************************************************************************************/
.layout-section{
	margin-bottom: 10px;
}
.layout-section-title{
	color : #333333;
	padding: 3px 3px 3px 6px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-bottom: 1px solid #D6D6D6;
}
.layout-section-content{
	padding: 5px;
}
.layout-section-column1 >.layout-section-field{
	width: 100%;
	float:left;
}
.layout-section-column2 >.layout-section-field{
	width: 50%;
	float:left;
}
.layout-section-column1 >.layout-section-field-hr-true,
.layout-section-column1 >.layout-section-field-hr-false{
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	display: flex;
}
.layout-section-column1 >.layout-section-field-hr-true:last-child,
.layout-section-column1 >.layout-section-field-hr-false:last-child{
	border-bottom: none;
}
.layout-section-column2 >.layout-section-field-hr-true{
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	display: flex;
}
.layout-section-column2 >.layout-section-field-hr-false{
	width: 0px;
	display: flex;
}
[class*='layout-section-column'] >.layout-section-field{
/* 	border-bottom: 1px solid #EEEEEE; */
}
[class*='layout-section-column'] >.layout-section-field:last-child,
.layout-section-column2 >.layout-section-field:nth-last-child(2){
	border-bottom: none;
}
.layout-section-column1:after,
.layout-section-column2:after{
	content: "";
	display: table;
	clear: both;
}
.layout-section-field{
	display: flex;
/* 	display: -webkit-box; */
	width: 100%;
	vertical-align: middle;
}
.layout-section-field >.field-label{
	width: 40%;
	padding:5px;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}
.layout-section-field >.field-label:after{
	content: "";
	clear: both;
}
.layout-section-field >.field-control{
	width: 60%;
	text-align: left;
	padding:5px;
}
