[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.dataTables_wrapper{
	margin-bottom: 30px;
}
[ng-switch-when*='GROUP']{
    background-color: cornsilk;
    padding: 3px;
    border: 1px solid #ffaa00;
/*     border-left: #ffaa00 3px solid; */
    border-top: #ffaa00 3px solid;
    margin-top: 5px;
}
.rules-group-header{
	margin-bottom: 0px;
	border-bottom: 1px solid #ffaa00;
}
.rules-group-header >.btn-group{
	display: inline-block;
	clear: none;
	margin-left: 0px;
}
input[disabled]{
	cursor: text;
	background-color: white;
}
input[disabled].required,
input[disabled].ng-invalid-required{
	border-left-color: red;
}
li.required{
	list-style: none;
	padding: 5px;
	border-left: 3px solid red;
	background-color: #f2dede;
	color: #b94a48;
}
input.required, 
input.ng-invalid-required,
select.required, 
select.ng-invalid-required,
textarea.required,
textarea.ng-invalid-required{
	border-left: 3px solid red;
}
input.ng-invalid-email{
	border-left: 3px solid orange;
}
input.ng-valid,
select.ng-valid,
textarea.ng-valid{
	border-left: 3px solid green;
}
.required-fields-label{
	border-radius: 3px;
	border-left-color: red;
	border-left-width: 3px;
	border-left-style: solid;
	padding-left: 5px;
	font-size: smaller;
	font-style: italic;
}
.stickey-footer{
	position: absolute;
    margin-top: 0;
    border-top: 1px solid #292929;
    bottom: 0;
    width: 100%;
    height: 52px;
}
.mytask-accordion-inner,.table-section{
	max-height: 300px;
	overflow: auto;
}
.datatable-mytask-accordion-inner{
	margin-bottom: 30px;
}

.widget-header-right{
	float:right;
	margin-right: 10px;
	color: rgb(0, 186, 139);
	font-weight: bold;
}

.details-table td:nth-child(odd){
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}
.details-table td:nth-child(even){
	text-align: left;
	white-space: pre-line;
	vertical-align: top;
}
.details-table td:nth-child(even).esm-input{
	text-align: left;
	vertical-align: top;
	white-space: normal;
}
.details-table td:nth-child(odd).vender-maintenance-attachment-section{
	text-align: left;
	vertical-align: top;
	white-space: normal;
}

.details-table th, .list-table th{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
}
.details-table td{
	width: 25%;
}


.widget-details-content{
	padding: 0px;
}

.paginate_button{
	border-radius:3px;
	box-shadow:inset rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
	background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.1));
	background-color:#00ba8b !important;
	color:white;
	font-size:11px;
	line-height:22px;
	
	transition: background-color 0.2s;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin:2px;
    padding: 0px 6px;
    text-align: center;
    vertical-align: middle;
}
.paginate_button:HOVER{
	color: white;
	text-decoration: none;
}
.current,.current:HOVER,.disabled,.disabled:HOVER{
	background-color:#E9E9E9 !important;
	color: black;
	cursor: default;
}

.form-horizontal .search-control-label{
	width: 280px;
}
.form-horizontal .search-controls{
	margin-left: 300px;
}
.form-horizontal .search-control-group{
	margin-left: 15px;
	margin-right: 15px;
}
.form-horizontal .search-form-actions{
	padding-left: 315px;
	margin-bottom: 0px;
}
.form-label{
	font-weight: bold;
}
.required-field{
	color: red;
}
.section-header{
	background-color: #EEEEEE;
/* 	background-color: #D6D6D6; */
/* 	background-color: #eeeeee; */
}
/* .dataTables_filter{ */
/* 	display: none; */
/* } */


/*
* CUSTOM CSS FOR PAGE LAYOUT SECTIONS *********************************************************************
*/
div.section{
/* 	background-color :whitesmoke; */
	margin-bottom: 10px;
/* 	border: solid 1px gray; */
/* 	border-radius:5px; */
}
div.section-title{
	color : #333333;
	padding: 3px 3px 3px 6px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-bottom: 1px solid #D6D6D6;
}
div.section-content{
	padding: 5px;
}
div.section-content-row{
	display: flex;
	border-bottom: 1px solid #EEEEEE;
}
/* 		div.section >.content >.row:first-child{ */
/* 			border-top: 1px solid silver; */
/* 		} */
div.section-content-row:last-child{
	border-bottom: none;
}

/* 		div.section >.content >.row:nth-child(odd){ */
/* 			background-color: whitesmoke; */
/* 		} */
/* 		div.section >.content >.row:nth-child(even){ */
/* 			background-color: silver; */
/* 		} */
div.section-content-row-column{
	display: flex;
	padding: 5px;
	width: 100%;
	vertical-align: middle;
}
div.section-content-row-column-label{
	width: 40%;
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}
div.section-content-row-column label{
	width: 40%;
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}
div.section-content-row-column label:after{
	content: " ";
}
div.section-content-row-column-field{
	width: 60%;
	text-align: left;
}
.column1{
	width: 100%;
}
.column2{
	width: 50%;
}
/**********************************************************************************************************/
.layout-section{
/* 	margin-bottom: 10px; */
}
.sticky-section-container{
	clear: both;
	height: 141px;
	margin-bottom: 10px;
}
.layout-section-sticky{
	margin-bottom: 10px;
	border: 1px solid #1294D5;
	position: static;
	background: white;
}
.layout-section-sticky >.layout-section-title{
	background-color: #1294D5;
	color: white;
}
.layout-section-sticky >.layout-section-content{
	height: 100px;
	overflow-y: scroll;
}
.layout-section-title{
	color : #333333;
	padding: 3px 3px 3px 6px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-bottom: 1px solid #D6D6D6;
}
.layout-section-content{
	padding: 5px;
}
.layout-section-content .control-group{
	margin-bottom: 10px;
}
.layout-section-column1 >.layout-section-field{
	width: 100%;
	float:left;
}
.layout-section-column2 >.layout-section-field{
	width: 50%;
	float:left;
}
[class*='layout-section-column'] >.layout-section-field-hr{
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	display: flex;
}
.layout-section-column1 >.layout-section-field-hr-true,
.layout-section-column1 >.layout-section-field-hr-false{
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	display: flex;
}
.layout-section-column2 >.layout-section-field-hr-true,
.layout-section-column2 >.layout-section-field-hr-false:nth-child(even){
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	display: flex;
}
.layout-section-column2 >.layout-section-field-hr-false,
.layout-section-column2 >.layout-section-field-hr-true:nth-child(even),
[class*='layout-section-column'] >[class*='layout-section-field-hr']:last-child{
	border-bottom: none;
	width: 0px;
	display: flex;
}

[class*='layout-section-column'] >.layout-section-field{
/* 	border-bottom: 1px solid #EEEEEE; */
}
[class*='layout-section-column'] >.layout-section-field:last-child,
.layout-section-column2 >.layout-section-field:nth-last-child(2){
	border-bottom: none;
}
.layout-section-column1:after,
.layout-section-column2:after,
.draggable-elements-container:after{
	content: "";
	display: table;
	clear: both;
}
.layout-section-field{
	display: flex;
/* 	display: -webkit-box; */
	width: 100%;
	vertical-align: middle;
}

/*  DRAG AND DROP ELEMENT */
.layout-section-container{
	border: dotted 1px #468847;	
	margin-bottom: 10px;
}
.draggable-element{
	display: flex;
	width: 22%;
	float: left;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	margin: 1px;
	background-color: #EEEEEE;
	border: 1px solid #fbeed5;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	cursor:move;
    border-left-width: 5px;
    border-right-width: 2px;
}
.draggable-element-field-blue{
	background-color: #d9edf7;
	color: #3a87ad;
	border-color: #bce8f1;
}
.draggable-element-field{
	background-color: #fcf8e3;
	color: #c09853;
	border-color: #c09853;
/* 	border-color: #fbeed5; */
}
.draggable-element-section{
	background-color: #dff0d8;
	color: #468847;
	border-color: #468847;
/* 	border-color: #d6e9c6; */
}
.draggable-element-component{
	background-color: #d9edf7;
	color: #3a87ad;
	border-color: #3a87ad;
/* 	border-color: #d6e9c6; */
}
.layout-section-field >.field-label{
	width: 40%;
	padding:5px;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}
.layout-section-field >.field-label:after{
	content: "";
	clear: both;
}
.layout-section-field >.field-control{
	width: 60%;
	text-align: left;
	padding:5px;
}
.draggable-actions{
	float: right;
	vertical-align: middle;
	padding-right: 3px;
}
.draggable-actions a{
	cursor: pointer;
	color: gray;
	margin: 2px 2px;
}
.custom-component{
	border: 1px solid #3A87AD;
	background-color:#D9EDF7;
	color: #3A87AD;
	font-weight: bold;
	font-style: italic;
}
.custom-component >.layout-section-title{
	background-color: #3A87AD;
	color: white;
	font-style: normal;
}
.standard-component{
	background-color:#D9EDF7;
	border: 1px solid #1294D5;
	color: #1294D5;
	font-weight: bold;
	font-style: italic;
}
.standard-component >.layout-section-title{
	background-color: #1294D5;
	color: white;
	font-style: normal;
}
.standard-component .draggable-actions a,
.custom-component .draggable-actions a{
	color: white;
}
.icon-color-green{
	color: green;
}
.icon-color-red{
	color: red;
}
.icon-color-white{
	color: white;
}
/* DRAG AND DROP */

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
div[dnd-list],
div[dnd-list] > .layout-section,
div[dnd-list] > .layout-section-field{
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
div[dnd-list] {
    min-height: 30px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
div[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
div[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #1294D5;
    min-height: 5px;
    position: relative;
}
.layout-section-column2 div[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #1294D5;
    min-height: 5px;
    position: relative;
    width: 50%;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dndDragging {
    opacity: 0.7;
}